html, body { height: 100%; }

body { width: 100%; margin: 0; padding: 0; }


.page-container { min-height: 100%; height: 100%; margin-bottom: -80px; font-weight: 100; font-family: 'Arial'; font-size: 14px;}
				.page-container .header-stripe { min-height: 40px; padding: 50px 0 0 0; background-color: #fff; }
				.page-container .content-stripe { padding: 0 0 20px; min-height: 200px;}

				.page-container .content-stripe .player-container { min-height: 200px; width: 800px; margin: auto; padding: 25px 25px 25px 25px; border-radius: 14px; background-color: #3d4447; }

				.page-container .content-stripe .player-container .botton { height: 110px; width: 110px; margin: 5px 5px 5px 5px; float: left; background-color: #3d4447; border-radius: 65px; border: 5px solid grey; box-shadow: 0 2px 2px 2px rgba(0,0,0,.4); }
				.page-container .content-stripe .player-container .radio-botton { height: 50px; width: 85px;  margin: 30px 0px 0px 10px; padding: 7px 5px 5px 5px; float: left; border-radius: 50px; border: 1px solid #535757; box-shadow: inset 0 2px 2px 2px rgba(0,0,0,.4); }
				.page-container .content-stripe .player-container input[type="radio"] { display:none;}
				.page-container .content-stripe .player-container  input[type="radio"] + label .label-text  { margin: auto; display: block; text-align:center; }
				.page-container .content-stripe .player-container  input[type="radio"] + label .label-img {
				    display:inline-block;
				    width:30px;
				    height:30px;
				    margin: 0px 0px 0px 25px;
				    vertical-align:middle;
				    background:url('http://imageshost.ru/img/2015/08/14/22c044a0e62916bd914224c27a5d7867ef996824.png') no-repeat;
					border-radius: 30px; 
					border: 1px solid #535757;
					box-shadow: 0 1px 2px 1px rgba(0,0,0,.4);
				    cursor:pointer;
				    z-index: 2;
				}
				
				.page-container .content-stripe .player-container input[type="radio"]:checked + label .label-img {
				    background:url('http://imageshost.ru/img/2015/08/14/cb921e264c59b9d2b21c95ab4b646c4a70a037b9.png') top no-repeat;
				}

				.page-container .content-stripe .player-container .visualize { height: 350px; width: 800px; background-color: #2d3133; box-shadow: inset 0 2px 2px 2px rgba(0,0,0,.4); }

				.page-container .content-stripe .player-container .play { cursor: pointer; height: 110px; width: 110px; background-image: url('http://imageshost.ru/img/2015/08/14/83353ce28b35a6e98f5b5d5febb0ccebfa6e86e9.png'); background-position: -118.9px -50.8px; }
				.page-container .content-stripe .player-container .pause { cursor: pointer; height: 110px; width: 110px; background-image: url('http://imageshost.ru/img/2015/08/14/83353ce28b35a6e98f5b5d5febb0ccebfa6e86e9.png'); background-position: -234px -50.9px; }
				.page-container .content-stripe .player-container .eject { cursor: pointer; height: 110px; width: 110px; background-image: url('http://imageshost.ru/img/2015/08/14/83353ce28b35a6e98f5b5d5febb0ccebfa6e86e9.png'); background-position: -234px -203.4px; }
				.page-container .content-stripe .player-container .eject-input { display: none; }

				.page-container .content-stripe .player-container .equalizer { height: 75px; width: 210px; margin: 5px 5px 5px 5px;  padding: 25px 15px 15px 15px;  float: left; }
				.page-container .content-stripe .player-container .list { 
																			margin-top: 130px; 
																			padding: 30px 15px 5px 15px;  
																			min-height: 50px;
																			border-radius: 14px; 
																			box-shadow: inset 0 2px 2px 2px rgba(0,0,0,.4);
																			color: #b6bcbf;
																			background: #2d3133; 
																			font-size: 16px;
																		}
								.page-container .content-stripe .player-container .list span { 
																			font-size: 16px;
																		}


.page-container .footer-stripe-buffer { height: 80px; }


.footer-container { height: 80px; margin: 0;}
	.footer-container .footer-stripe { height: 50px; padding: 15px 0 15px;  background-color: #3d4447; }

.stripe-type-overhang {
	width: 100%;
}