html, body { height: 100%; }

body { width: 100%; margin: 0; padding: 0; }


.page-container { min-height: 100%; margin-bottom: -80px; font-weight: 100; font-family: 'Arial'; font-size: 14px;}
				.page-container .header-stripe { position: fixed; min-height: 40px; padding: 50px 0 0 0; background-color: #fff; }

				.page-container .header-stripe .flight-table-thead { margin: auto; overflow: hidden; border-collapse: collapse;  text-align: center; z-index: 2; font-size: 16px; }
												.page-container .header-stripe .flight-table-thead th { height: 50px; background: #666; color: #fff; }

				.page-container .flight-table .flight-medium-cell { min-width: 110px; width: 110px; }
				.page-container .flight-table .flight-big-cell { min-width: 150px; width: 150px; }
				.page-container .flight-table .flight-small-cell { width: 50px; max-width: 50px; }

				.page-container .content-stripe .flight-table { margin: auto; table-layout:fixed; overflow: hidden; border-collapse: collapse; text-align: center; }
												.page-container .content-stripe .flight-table tr.global-zebra-row { background: #f0f0f0; } 
												.page-container .content-stripe .flight-table tr { position: relative; display: none;} 
												.page-container .content-stripe .flight-table tr:hover { background: #e2e7ec; }
												.page-container .content-stripe .flight-table .flight-row .flight-row-popup  { display: none; }
												.page-container .content-stripe .flight-table .flight-row:active .flight-row-popup  { 
													display: table-row;
													position: absolute; 
													padding: 5px 15px 5px 15px;  
													border-radius: 14px; 
													box-shadow: 0 2px 2px 2px rgba(0,0,0,.4);
													background: #fff; 
													vertical-align: middle;
													font-size: 14px;
													opacity: .5;
													z-index: 2
												}
												.page-container .content-stripe .flight-table .flight-row .flight-row-popup:hover  { 
													display: table-row; 
													position: absolute;
													padding: 5px 15px 5px 15px; 
													border-radius: 14px; 
													box-shadow:  0 2px 2px 2px rgba(0,0,0,.4);
													background: #fff; 
													vertical-align: middle;
													font-size: 14px;
													z-index: 2;
													opacity: 100;
													-webkit-transition: opacity .1s linear;
												     -moz-transition: opacity .1s linear;
												     -o-transition: opacity .1s linear;
												     transition: opacity .1s linear
												}

				.page-container .content-stripe .flight-table tr .flight-logo { width: 50px; height: 50px; }
				.page-container .content-stripe .flight-table tr .flight-popup-logo { width: 50px; height: 50px; float: left; }
				.page-container .content-stripe .flight-table tr .airline-logo { height: 20px; margin: 0 0 0 10px; }
				.page-container .content-stripe .flight-table tr .airline-name {  bottom: 5px; z-index: 1}

				.page-container .arrivals-checkbox:checked ~ div .arrivals {
				    display: table-row;
				}
				.page-container .arrivals-checkbox:checked ~ div .arrivals:hover { background: #e2e7ec; }
				.page-container .arrivals-checkbox:checked ~ div .global-zebra-row {
				    background: #fff;
				}
				.page-container .arrivals-checkbox:checked ~ div .arrivals-zebra-row {
				    background: #f0f0f0;
				}
				.page-container .arrivals-checkbox:checked ~ div .departures-zebra-row {
				    background: #fff;
				}
				
				.page-container .departures-checkbox:checked ~ div .departures {
				    display: table-row;
				}
				.page-container .departures-checkbox:checked ~ div .departures:hover { background: #e2e7ec; }

				.page-container .departures-checkbox:checked ~ div .global-zebra-row {
				    background: #fff;
				}
				.page-container .departures-checkbox:checked ~ div .departures-zebra-row {
				    background: #f0f0f0;
				}
				.page-container .departures-checkbox:checked ~ div .arrivals-zebra-row {
				    background: #fff;
				}

				.page-container .arrivals-checkbox:checked ~.departures-checkbox:checked ~ div .arrivals-zebra-row {
				    background: #fff;
				}
				.page-container .arrivals-checkbox:checked ~.departures-checkbox:checked ~ div .departures-zebra-row {
				    background: #fff;
				}
				.page-container .arrivals-checkbox:checked ~.departures-checkbox:checked ~ div .global-zebra-row {
				    background: #f0f0f0;
				}
				.page-container .arrivals-checkbox:checked ~.departures-checkbox:checked ~ div .flight-row:hover { background: #e2e7ec; }
				

				.page-container input[type="checkbox"] { display:none;}
				.page-container .arrivals-checkbox + label { position: fixed; z-index: 3; top: 18px; display:inline-block;}
				.page-container .departures-checkbox + label { position: fixed; z-index: 3; top: 18px; display:inline-block;}
				.page-container input[type="checkbox"] + label span {
				    display:inline-block;
				    width:19px;
				    height:19px;
				    padding: 3px 0px 0px 0px;
				    margin: auto;
				    vertical-align:middle;
				    background:url('../image/check_radio_sheet.png') left top no-repeat;
				    cursor:pointer;
				    z-index: 3;
				}
				
				.page-container input[type="checkbox"]:checked + label span {
				    background:url('../image/check_radio_sheet.png') -19px top no-repeat;
				}
				
@media screen and (max-width: 2600px) {

	.page-container .arrivals-checkbox + label { left: 40%; }
	.page-container .departures-checkbox + label { left: 60%; }

	.page-container .flight-table { width: 800px; }
					.page-container .flight-table .flight-medium-cell { min-width: 110px; width: 110px; }
					.page-container .flight-table .flight-big-cell { min-width: 150px; width: 150px; }
					.page-container .flight-table .flight-small-cell { width: 50px; max-width: 50px; }
					.page-container .flight-table .clip { min-width:110px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
					.page-container .flight-table .flight-row:active .flight-row-popup  { min-width: 700px; max-width: 800px;}
					.page-container .flight-table .flight-row .flight-row-popup:hover  { min-width: 700px; max-width: 800px;}

	.page-container .content-stripe { padding: 100px 0 20px; }
									
}

@media screen and (max-width: 1180px) {

	.page-container .arrivals-checkbox + label { left: 35%; }
	.page-container .departures-checkbox + label { left: 55%; }

	.page-container .flight-table { width: 550px; }
					.page-container .flight-table .flight-medium-cell { min-width: 80px; width: 80px; }
					.page-container .flight-table .flight-big-cell {  min-width: 110px; width: 110px; }
					.page-container .flight-table .flight-small-cell { width: 50px; max-width: 50px; }
					.page-container .flight-table .medium-hide { display: none; }
					.page-container .flight-table .clip { min-width:80px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
					.page-container .flight-table .flight-row:active .flight-row-popup  { min-width: 450px; max-width: 550px;}
					.page-container .flight-table .flight-row .flight-row-popup:hover  { min-width: 450px; max-width: 550px;}

	.page-container .header-stripe .flight-table-thead .medium-hide { display: none;}

	.page-container .flight-table td.flight-big-cell { min-width: 110px; width: 110px; }
									
}

@media screen and (max-width: 550px) {
	.page-container .arrivals-checkbox + label { left: 25%; }
	.page-container .departures-checkbox + label { left: 55%; }

	.page-container .flight-table { width: 350px; }
					.page-container .flight-table .flight-medium-cell { min-width: 80px; width: 80px; }
					.page-container .flight-table .flight-big-cell {  min-width: 80px; width: 80px; }
					.page-container .flight-table .flight-small-cell { width: 50px; max-width: 50px; }

	.page-container .content-stripe .flight-table .small-hide { display: none; }

	.page-container .content-stripe .flight-table .clip { width:50px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
	.page-container .content-stripe .flight-table .flight-row:active .flight-row-popup  { min-width: 250px; max-width: 250px;}
	.page-container .content-stripe .flight-table .flight-row .flight-row-popup:hover  { min-width: 250px; max-width: 250px;}
}

@media screen and (max-width: 350px) {
	.page-container .arrivals-checkbox + label { left: 15%; }
	.page-container .departures-checkbox + label { left: 50%; }
}


.page-container .footer-stripe-buffer { height: 80px; }


.footer-container { height: 80px; margin: 0;}
	.footer-container .footer-stripe { height: 50px; padding: 15px 0 15px;  background-color: #fff; }

.stripe-type-overhang {
	width: 100%;
}



/*
width, height, position, top/right/bottom/left, vertical-align, float, display, если оно присутствует, padding, margin, outline, cursor и border-ы, font, text-align , background , CSS3-свойства
*/
